@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-family: 'Goldman', cursive;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 1%;
  text-align: center;
  text-shadow: 2px 4px #1bc6a4;
}

h3 {
  color: #ffffff;
  font-family: 'Goldman', cursive;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
  text-decoration: underline overline;
}

body {
  background: #2c3e50;
  font-family: Sans-serif;
  margin: 0;
  padding: 0;
}

#message1,
#message2,
#message3 {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  background: #34495e;
  height: 50px;
}

#navthing {
  margin-left: 50px;
}

h2 {
  color: #ecf0f1;
  padding-bottom: 5px;
  padding-top: 6px;
}

fieldset {
  border: 0;
}

.changepassword,
.login,
.register,
.signout {
  display: none;
  position: relative;
  width: 350px;
}

.formholder {
  background: #ecf0f9;
  border-radius: 5px;
  padding-top: 5px;
  width: 300px;

  input {
    &[type= 'email'] {
      border: 0;
      border-radius: 5px;
      display: block;
      font-size: 18px;
      margin: 10px 0;
      padding: 7px 5px;
      width: 96%;
    }

    &[type= 'password'] {
      border: 0;
      border-radius: 5px;
      display: block;
      font-size: 18px;
      margin: 10px 0;
      padding: 7px 5px;
      width: 96%;
    }

    &:focus {
      box-shadow: 0 0 1px 1px #1abc9c;
      outline: none;
      }

    &[type= 'submit'] {
      background: #1abc9c;
      border: 0;
      border-radius: 5px;
      color: #fff;
      display: block;
      font-size: 20px;
      padding: 10px;
      width: 100%;

      &:hover {
        background: #1bc6a4;
      }
    }
  }
}

.formholder2 {
  background: #ecf0f8;
  border-radius: 5px;
  width: 250px;

  input {
    &:focus {
      box-shadow: 0 0 1px 1px #1abc9c;
      outline: none;
      }

    &[type= 'submit'] {
      background: #1abc9c;
      border: 0;
      border-radius: 5px;
      color: #fff;
      display: block;
      font-size: 20px;
      padding: 10px;
      width: 100%;

      &:hover {
        background: #1bc6a4;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 21%;
  margin-right: 21%;
  padding-bottom: 1%;
  padding-top: 1%;
}

#addrun,
#deleterun,
#editrun {
  background: #1abc9c;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: inline;
  font-size: 25px;
  padding: 10px;
  width: 16%;

  &:hover {
    background: #1bc6a4;
  }
}


.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: 0;

  &:hover {
    color: #1abc9c;
  }
}

.space {
  margin: 5%;
}

table {
  table-layout: fixed;
  width: 100%;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
 }

.tbl-content {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 300px;
  margin-top: 0px;
  overflow-x: auto;
}

th {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 15px;
  text-align: left;
  text-transform: uppercase;
}

td {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
}

section {
  margin-left: 26%;
  margin-right: 26%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
